
@{
    ViewBag.Title = "Create";
}

<h2>Create user</h2>
<hr />
<div class="panel-body">
    <p>Please fill out information about the user</p>
        <input type="text" class="form-control" placeholder="First name" style="margin-top:15px; margin-bottom:20px;" name="firstname" autofocus>
        <input type="text" class="form-control" placeholder="Last name" style="margin-top:15px; margin-bottom:20px;" name="lastname">
        <input type="text" class="form-control" placeholder="Email" style="margin-top:15px; margin-bottom:20px;" name="email">
        <input type="text" class="form-control" placeholder="User type - 0 for student, 1 for teacher, 2 for admin" style="margin-top:15px; margin-bottom:20px;" name="usertype">
        <input type="password" class="form-control" placeholder="Password" style="margin-top:15px; margin-bottom:20px;" name="password">
    </form>
</div>

