@using Library.Models
@{
    ViewBag.Title = "UserCourses";
}

<h2>User courses</h2>

<div class="panel panel-default">
    <div class="panel-heading">My courses</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Description</th>
            <th>ECTS</th>
            <th> </th>
        </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
    </table>
</div>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Available courses</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Description</th>
            <th>ECTS</th>
            <th> </th>
        </tr>
        @model User
        @foreach(Course c in Model)
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
    </table>
</div>